<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flakiest Tests</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="main-content">
        <h2>Flakiest Tests</h2>
        
        <form action="/most-flaky" method="get">
            <label for="limit">Limit:</label>
            <input type="number" id="limit" name="limit" min="0">
            <button type="submit">Apply</button>
        </form>

        <table class="big" border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Test Path</th>
                    <th>Number of Unexpected Results</th>
                    <th>GitHub Link</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ test.path }}</td>
                    <td>{{ test.total_unexpected_count }}</td>
                    <td>
                        {% if test.issues %}
                            <a href="https://github.com/servo/servo/issues/{{ test.issues.issues[0].number }}" rel="noopener" target="_blank">issue #{{test.issues.issues[0].number}}</a>
                        {% else %}
                            No issues found
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
