* {
    box-sizing: border-box;
}
*:where(pre, ul, h1, h2, h3, h4, h5, h6) {
    margin: 0;
}
* + * {
    margin-top: 1em;
}
*:where(h1, h2, h3, h4, h5, h6) + * {
    margin-top: 0;
}
:root {
    font-family: Atkinson Hyperlegible, Helvetica, Arial, sans-serif;
}
body {
    margin: 1em;
}
pre, code {
    font-family: monospace, monospace;
}
table.big tr:nth-child(2n) {
    background: #e0e0e0;
}
table.big td:last-child {
    width: auto;
}
td, th {
    vertical-align: top;
}
th {
    text-align: left;
}
time[title] {
    text-decoration: dotted underline;
}
.ugc {
    word-break: break-word;
}
pre.ugc {
    white-space: pre-wrap;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.main-content {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    text-align: center;
}
form {
    margin-bottom: 20px;
    text-align: center;
}
label {
    font-weight: bold;
}
input[type="number"] {
    width: 50px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    padding: 6px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th:first-child,
td:first-child {
    width: 10%; /* Width for the first column */
}
th:nth-child(2),
td:nth-child(2) {
    width: 75%; /* Width for the "Test Path" column */
}
th:last-child,
td:last-child {
    width: 15%; /* Width for the last column */
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:hover {
    background-color: #f9f9f9;
}
a {
    color: #007bff;
    text-decoration: none;
}